<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
  </head>
  <body>

    <%- include('nav.html')  %>

    <!-- <h4 class="container mt-4"><strong> 글 작성페이지</strong></h4> -->

    <div class="container mt-3">
      <!--method는 post, put만 가능 -->
      <form action="/edit?_method=PUT" method="POST">
        <div class="form-group">
          <label> 오늘의 할일</label>
          <!-- id값을 전달하기 위해 input에 숨겨서 서버로 전달 -->
          <input type="text"value="<%= post._id %>" name="id" style="display : none;">
          <input value="<%= post.할일 %>" type="text" class="form-control" name="title"/>
        </div>
        <div class="form-group">
          <label> 날짜</label>
          <input value="<%= post.날짜 %>" type="text" class="form-control" name="date"/>
        </div>
        <button type="submit" class="btn btn-outline-secondary mt-4">Submit </button>
        <a class="btn btn-warning delete" data-id="<%= posts[i]._id %>" href="/chat">채팅하기</a>
      </form>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
  </body>
</html>